APP_ENV=testing
APP_DEBUG=true

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=civisafe_test
DB_USERNAME=postgres
DB_PASSWORD=

QUEUE_CONNECTION=sync
CACHE_STORE=array
SESSION_DRIVER=array

FILESYSTEM_DISK=local

AWS_ENDPOINT=http://minio:9000
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_USE_PATH_STYLE_ENDPOINT=true
